body {
    background-image: url("https://i.pinimg.com/originals/4b/6c/67/4b6c678e041606e05d6e8e2c08569236.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
}

h1 {
    
    color: whitesmoke;
    margin: 0.5em 0;
}

label {
    font-size: 1.5em;
}

#header {
    /* display: block;
    position: relative; */
    /* background-image: url("https://media.giphy.com/media/3ohhwNqFMnb7wZgNnq/giphy.gif"); */
    /* background-color: rgba(19, 18, 18, 0.5); */
    border-radius: 5px;
    /* height: 10em; */
}

/* #header::after {
    content: "";
    background-image: url("https://media.giphy.com/media/3ohhwNqFMnb7wZgNnq/giphy.gif");
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
} */
.container{
    margin-top: 5em;
    background-color: rgba(19, 18, 18, 0.808);
    backdrop-filter: blur(5px);   
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    /* padding: 2.5em; */
    display: block;
    position: relative;
    
}

.container::after {
    content:"";
    background-image: url("https://media.giphy.com/media/3ohhwNqFMnb7wZgNnq/giphy.gif");
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    border-radius: 10px;
}

/* LANDING PAGE====================================> */
#landing {
    height: 40em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

#landing h1 {
    border-bottom: 1px solid whitesmoke;
    padding: 0.5em 0;
}

#landing-body{

    /* height: 20em; */
}

/* #landing-btns {
    margin-bottom: 2.5em;
} */

#btn-1 {
    background-color: #4b4ef3;
    border: none;
    width: 20em;
    height: 2.5em;
    font-size: 2em;
}
#btn-2 {
    background-color: #8288de;
    border: none;
    margin-bottom: 2em;
}

/* FORM============================================== */
#form-wrapper{
    margin: 2.5em;
}

#form-top {
    border-bottom: 1px solid whitesmoke;
}

#template-start {
    margin-top: 1.5em;
}
.question {
    
    border-bottom: 1px solid #f5f5f5;
}

.question .label-box {
    display: flex;
    flex-direction: row;
    /* height: 5em; */
    align-items: center;
}

.question .input-box {
    display: flex;
    flex-direction: row;
    height: 7em;
    align-items: center;
    justify-content: center;
}

#feeling {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* line-height: 3em; */

}
#disagree{
    margin-left: 2em;
}

#agree{
    margin-right: 2.5em
}

.slide-text {
    /* margin: 0 0.5em; */
    color:#a9ade0;
    font-size: 0.75em;
}

.slider-handle {
    background: #4b4ef3;
   
}

.slider-selection {
    background: #f12323
}

.slider-selection.tick-slider-selection {
    background-image: linear-gradient(to bottom,#4b4ef3 0,#8288de 100%);
    background-repeat: repeat-x
}

.slider-tick.in-selection {
    background-image: linear-gradient(to bottom,#4b4ef3 0,#8288de 100%);
    background-repeat: repeat-x
}

.slider.slider-horizontal {
    width: 25em;
}

#submit {
    
    background-color: #4b4ef3 ;
    border: none;
    height: 2em;
    font-size: 2em;
}

#footer {
    margin: 1em;
    
}

#footer a {
    color: whitesmoke;
}

/* Modal=============================================== */
.modal-dialog {
    min-width: 55em !important;
    max-width: 55em !important;
    background-image: url("https://media.giphy.com/media/3ohhwNqFMnb7wZgNnq/giphy.gif");
    border: 1px solid whitesmoke;
    border-radius: 10px;
    /* padding: 0 2em; */
}

.modal-content {
    background-image: url("https://media.giphy.com/media/3ohhwNqFMnb7wZgNnq/giphy.gif");
}
#match-img{
    max-width: 45em;
    max-height: 45em
}

.modal-header span {
    /* background-color: whitesmoke; */
    color: whitesmoke;
}

.modal-footer{
    display: flex;
    justify-content: center
}
#btn-close{
    background-image: url("https://media.giphy.com/media/xUPGcoeymFuvT4NnFu/giphy.gif");
    width: 15em;
    height: 3em;
    font: 1.75em
}